*{margin: 0;
    padding: 0;

}
body{margin: 0px;
    padding: 0px;
    box-sizing: inherit;
    font-family:"Poppins", sans-serif;
}

 .APP{
	height:800px;
	top:0;
    left:0;
    width: 100%;
  
}
.top-left{
    width:28%;
    padding: 50px 25px!important;
    position:absolute;
    top:52%;
    left:2%;
    text-align: center;
    display: block;
    opacity:0.60;
    line-height: 1.5;
    border-radius:8px;
    color: #ffffff;
    background-color: #000000;
    margin: 18px 10px;
    
 }
 .text {
    padding: 4px 0px;
    margin: 2px 8px;

}
.Text{
     padding: 12px 10px;
     border-top: 1px solid #eee;
}
 hr{
    border-top: 1px solid #eee;
 }

 .top-left:hover{
    color:#ffffff;
    opacity:1;

}
.top-right{
    border-radius: 4px;
    position: absolute;
    top: 70%;
    right: 1%;
    border:none;
    text-align: center;
    display: block;
    float:right;
    padding:12px 24px;
    cursor:pointer;
    background-color: #000000;
    color: WHITE;
}
.top-right:hover{
    color:black;
    background-color:lightgrey;
  
}
.btn{
    cursor:pointer;
    width:90%;
    background-color: #4CAF50;
    border-radius: 4px;
    display: block;
    padding: 8px 16px;
    vertical-align:middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
}

.btn:hover{
    color:black;
    background-color:lightgrey;
}
.containner{

height: 550px;
padding: 64px 0px;
  

}
.right p{
   
   margin: 16px 0px;
    font-size: 16px;
    padding: 3px 22px;
    text-align: left;
}
.right{ 
    height:400px ;
    width: 70%;
  
  

}
.avail{
    padding: 0px 8px;
    text-align: left;
    padding: 0px 8px;
}
.img{
   float: right;
    width:300px;
    height:430px;
    margin: 12px 20px;
}
.dwnld{
    cursor:pointer;
    border: none;
    display: inline-block;
    text-decoration: none;
    margin-left:15px;
    font:inherit;
    padding: 0px 10px;
    height: 49px;
}
.dwnld:hover{
    color:black;
    background-color:grey;
}

.avail{
    padding: 0px 8px;
    font-size:16px;
    margin: 10px 0px;
    
}

.app,.tempor{
    /* border: solid black; */
    font-size: 60px;
    line-height: 1.5;
   margin: 10px 10px;
    display:block;
    padding:0px 8px;
}
.buy,.txt{
    /* border: solid black; */
    color: #4CAF50;
    font-size: 45px;
    margin: 10px 8px;
    display:block;
    line-height: 1.5;
    padding:0px 8px;

}
.txt{
    color: #f81818;
}
.para{
    
    line-height: 1.5;
     display: block;
     margin: 16px 0px;
     padding:0px 8px;
     text-align:left ;
}
.paragraph{
    text-align:left ;
}
.large,.Large,.Basic,.Premium,.text{
    font-size: 24px;
  }
.containner1{
height: 550px;
padding: 64px 0px;
background-color: #f1f1f1!important;
}
.img1{
    /* border: solid black; */
    float: left;
    width:320px;
    height:465px;
    margin-top:50px;
    margin-left: 30px;
}
.left1{
    /* border: solid black; */
    height:400px ;
    width: 65%;
    margin: 80px 20px;
    float: right;
 }
 h2{text-align:center;
    font-size: 64px;
   
 }
 p{
    text-align:center;
 }

.box{
  
    height:650px ;
    background-color:#5f5d5d;
    padding: 64px 16px;
  
}
.box1,.box2,.box3{
    /* border: solid black; */
    display: flex;

}
.feature{
    font-size: 64px;
    color:#ffffff;
    margin: 10px 0px;
}
.fp{
    margin: 16px 0px;
    color: white;
    font-size:16px;

}
.lorem{
    text-align:center;
    color:#ffffff;
}

.Row{
    /* float: left */
    text-align: center;
    line-height: 1.5;
    width: 24.99999%;
    padding-bottom: 64px!important;
}

#blue{
    color: #ff9800;

}
#orange{
    color: #f44336;
}
#yellow{
    color: #d2be0e;
}
#green{
    color: #4CAF50;
}
#blue{
    color: #2196F3;
}
#orange{
    color: #ffc107;
}
#sky{
    color: #00bcd4;
}
#white{
  color: #fdf5e6;
}
#marganda{
    color: #ff9800;
}
.iconW,.Rs{
    color: #757575;
}
#pink{
    color: #e91e63;
}
.text{
    
}
.container2{
    /* border: solid black; */
    height:800px ;
    background-color:white;
    width: 100%;


}

.Pricing{
    font-size: 64px;
    margin-top:50px;
    text-align:center;
    color:black;
}
.plan{
    text-align:center;
    color:black;
}
.colomn{
    margin-top:80px;
    margin-left: auto;
    margin-right: auto;
}
.half,.half2{
    margin-bottom: 16px;
    width:47.5%;
    height:500px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    margin-left:20px;
    display: block;
    
}

.half{
    float:left;
    

}
.half2{
    float:right;
    margin-right:20px;
}
.list,.list2{
    list-style-type: none;
    padding:0;
    margin: 0;
    height:350px;
}

.Basic,.Premium{
    padding: 12px 16px;
    border-bottom: 1px solid #ddd;
    padding-top: 32px;
    padding-bottom: 32px;
    display: list-item;
    list-style-type: none;
    line-height: 1.5;
    text-align:center;
  }
  .Basic{color: #fff!important;
      background-color: #616161!important;}

.Premium{
      color: #fff!important;
    background-color: #f44336!important;}

  .order{
    /* border-bottom: 1px solid #ddd; */
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
    padding-top:15px;
    padding-bottom:15px;
    display: list-item;
    line-height: 1.5;
    text-align:center;
}

.bttn{
    width:23%;
    margin-top:30px;
    border:none;
    text-align:center;
    padding: 12px 24px;
    margin-left:37%;
    cursor:pointer;
}
.odr1{
    background-color: #c50e0e!important;
    color: rgb(185, 17, 17);
}
#last{
    background-color: #f1f1f1!important;
    height:80px;
    /* width:100%; */
    text-align:center;
   padding: 32px 16px;
 }
 .icon{
     margin: 16px 0px;
     text-align:center;
 }

 .link{
    text-decoration:underline;
    cursor:pointer;
   }      
  .link:hover{
    color:green;
   }